*

**

***

****

*****

In [9]:
n=1
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*

In [10]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [11]:
n=5
for i in range(1,n):
    for j in range(i+1):
        print("*",end="")
    print()

**
***
****
*****

this does not print 1sr=t line star *

In [ ]:
n=5
for i in range(0,n):
    for j in range(i+1):
        print("*",end="")
    print()    
# both code are same(0,n) or (n)

*
**
***
****
*****